.puzzle{

    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px,0fr)); 
    grid-template-rows: repeat(auto-fit, minmax(150px,0fr)); 
    justify-content: center;


    grid-template-areas:
            "a b c ."
            "d e . ."
            "f g h ."
            ". i j .";
            
}


#piece01{
  grid-area: a;
  
}

#piece02{
    grid-area: b;
    padding-left: 250px;
    
}

#piece03{
    grid-area: c;
    padding-left: 250px;

}

#piece04{
    grid-area: d;

}

#piece05{
    grid-area: e;
    

}

#piece06{
    grid-area: f;

}

#piece07{
    grid-area: g;

}

#piece08{
    grid-area: h;

}

#piece09{
    grid-area: i;
   
}

#piece10{
    grid-area: j;
    padding-left: 250px;

}